// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CambApi from "../../../index.js";

export declare namespace VoiceCloningClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VoiceCloningClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VoiceCloningClient.Options>;

    constructor(options: VoiceCloningClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CambApi.ListVoicesListVoicesGetRequest} request
     * @param {VoiceCloningClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.voiceCloning.listVoices()
     */
    public listVoices(
        request: CambApi.ListVoicesListVoicesGetRequest = {},
        requestOptions?: VoiceCloningClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.ListVoicesListVoicesGetResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__listVoices(request, requestOptions));
    }

    private async __listVoices(
        request: CambApi.ListVoicesListVoicesGetRequest = {},
        requestOptions?: VoiceCloningClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.ListVoicesListVoicesGetResponseItem[]>> {
        const { run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                "list-voices",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CambApi.ListVoicesListVoicesGetResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/list-voices");
    }

    /**
     * @param {CambApi.BodyCreateCustomVoiceCreateCustomVoicePost} request
     * @param {VoiceCloningClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.voiceCloning.createCustomVoice({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         voice_name: "voice_name",
     *         gender: 1
     *     })
     */
    public createCustomVoice(
        request: CambApi.BodyCreateCustomVoiceCreateCustomVoicePost,
        requestOptions?: VoiceCloningClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.CreateCustomVoiceOut> {
        return core.HttpResponsePromise.fromPromise(this.__createCustomVoice(request, requestOptions));
    }

    private async __createCustomVoice(
        request: CambApi.BodyCreateCustomVoiceCreateCustomVoicePost,
        requestOptions?: VoiceCloningClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.CreateCustomVoiceOut>> {
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (request.run_id !== undefined) {
            _queryParams.run_id = request.run_id?.toString() ?? null;
        }

        const _request = await core.newFormData();
        _request.append("voice_name", request.voice_name);
        _request.append("gender", request.gender.toString());
        if (request.description != null) {
            _request.append("description", request.description);
        }

        if (request.publish_voice_to_market_place != null) {
            _request.append("publish_voice_to_market_place", request.publish_voice_to_market_place?.toString() ?? null);
        }

        if (request.age != null) {
            _request.append("age", request.age.toString());
        }

        if (request.language != null) {
            _request.append("language", request.language?.toString() ?? null);
        }

        if (request.enhance_audio != null) {
            _request.append("enhance_audio", request.enhance_audio?.toString() ?? null);
        }

        await _request.appendFile("file", request.file);
        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                "create-custom-voice",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.CreateCustomVoiceOut, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/create-custom-voice");
    }
}
