// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CambApi from "../../../index.js";

export declare namespace StoryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StoryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StoryClient.Options>;

    constructor(options: StoryClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CambApi.BodyCreateStoryStoryPost} request
     * @param {StoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.story.createStory({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         source_language: 1
     *     })
     */
    public createStory(
        request: CambApi.BodyCreateStoryStoryPost,
        requestOptions?: StoryClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.CreateStoryStoryPostResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createStory(request, requestOptions));
    }

    private async __createStory(
        request: CambApi.BodyCreateStoryStoryPost,
        requestOptions?: StoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.CreateStoryStoryPostResponse>> {
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (request.run_id !== undefined) {
            _queryParams.run_id = request.run_id?.toString() ?? null;
        }

        const _request = await core.newFormData();
        await _request.appendFile("file", request.file);
        _request.append("source_language", request.source_language.toString());
        if (request.title != null) {
            _request.append("title", request.title);
        }

        if (request.description != null) {
            _request.append("description", request.description);
        }

        if (request.narrator_voice_id != null) {
            _request.append("narrator_voice_id", request.narrator_voice_id?.toString() ?? null);
        }

        if (request.folder_id != null) {
            _request.append("folder_id", request.folder_id?.toString() ?? null);
        }

        if (request.chosen_dictionaries != null) {
            for (const _item of request.chosen_dictionaries) {
                _request.append("chosen_dictionaries", _item.toString());
            }
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                "story",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.CreateStoryStoryPostResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/story");
    }

    /**
     * @param {CambApi.BodySetupStoryStorySetupPost} request
     * @param {StoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.story.setupStory({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         source_language: 1
     *     })
     */
    public setupStory(
        request: CambApi.BodySetupStoryStorySetupPost,
        requestOptions?: StoryClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.SetupStoryStorySetupPostResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setupStory(request, requestOptions));
    }

    private async __setupStory(
        request: CambApi.BodySetupStoryStorySetupPost,
        requestOptions?: StoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.SetupStoryStorySetupPostResponse>> {
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (request.run_id !== undefined) {
            _queryParams.run_id = request.run_id?.toString() ?? null;
        }

        const _request = await core.newFormData();
        await _request.appendFile("file", request.file);
        _request.append("source_language", request.source_language.toString());
        if (request.title != null) {
            _request.append("title", request.title);
        }

        if (request.description != null) {
            _request.append("description", request.description);
        }

        if (request.narrator_voice_id != null) {
            _request.append("narrator_voice_id", request.narrator_voice_id?.toString() ?? null);
        }

        if (request.folder_id != null) {
            _request.append("folder_id", request.folder_id?.toString() ?? null);
        }

        if (request.chosen_dictionaries != null) {
            for (const _item of request.chosen_dictionaries) {
                _request.append("chosen_dictionaries", _item.toString());
            }
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                "story-setup",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CambApi.SetupStoryStorySetupPostResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/story-setup");
    }

    /**
     * @param {CambApi.GetStoryStatusStoryTaskIdGetRequest} request
     * @param {StoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.story.getStoryStatus({
     *         task_id: "task_id"
     *     })
     */
    public getStoryStatus(
        request: CambApi.GetStoryStatusStoryTaskIdGetRequest,
        requestOptions?: StoryClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.OrchestratorPipelineResult> {
        return core.HttpResponsePromise.fromPromise(this.__getStoryStatus(request, requestOptions));
    }

    private async __getStoryStatus(
        request: CambApi.GetStoryStatusStoryTaskIdGetRequest,
        requestOptions?: StoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.OrchestratorPipelineResult>> {
        const { task_id: taskId, run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `story/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.OrchestratorPipelineResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/story/{task_id}");
    }

    /**
     * @param {CambApi.GetStoryRunInfoStoryResultRunIdGetRequest} request
     * @param {StoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.story.getStoryRunInfo({
     *         run_id: 1
     *     })
     */
    public getStoryRunInfo(
        request: CambApi.GetStoryRunInfoStoryResultRunIdGetRequest,
        requestOptions?: StoryClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getStoryRunInfo(request, requestOptions));
    }

    private async __getStoryRunInfo(
        request: CambApi.GetStoryRunInfoStoryResultRunIdGetRequest,
        requestOptions?: StoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { run_id: runId, include_transcript: includeTranscript } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (includeTranscript !== undefined) {
            _queryParams.include_transcript = includeTranscript?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `story-result/${core.url.encodePathParam(runId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/story-result/{run_id}");
    }

    /**
     * @param {CambApi.GetStoriesRunsResultsStoriesResultsPostRequest} request
     * @param {StoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.story.getStoriesRunsResults({
     *         body: {
     *             run_ids: [1]
     *         }
     *     })
     */
    public getStoriesRunsResults(
        request: CambApi.GetStoriesRunsResultsStoriesResultsPostRequest,
        requestOptions?: StoryClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, Record<string, unknown>>> {
        return core.HttpResponsePromise.fromPromise(this.__getStoriesRunsResults(request, requestOptions));
    }

    private async __getStoriesRunsResults(
        request: CambApi.GetStoriesRunsResultsStoriesResultsPostRequest,
        requestOptions?: StoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, Record<string, unknown>>>> {
        const { run_id: runId, traceparent, body: _body } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ traceparent: traceparent !== undefined ? traceparent : undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                "stories-results",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Record<string, Record<string, unknown>>,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/stories-results");
    }
}
