// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CambApi from "../../../index.js";

export declare namespace DictionariesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DictionariesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DictionariesClient.Options>;

    constructor(options: DictionariesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CambApi.GetDictionariesDictionariesGetRequest} request
     * @param {DictionariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dictionaries.getDictionaries()
     */
    public getDictionaries(
        request: CambApi.GetDictionariesDictionariesGetRequest = {},
        requestOptions?: DictionariesClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.DictionaryWithTerms[]> {
        return core.HttpResponsePromise.fromPromise(this.__getDictionaries(request, requestOptions));
    }

    private async __getDictionaries(
        request: CambApi.GetDictionariesDictionariesGetRequest = {},
        requestOptions?: DictionariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.DictionaryWithTerms[]>> {
        const { run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                "dictionaries",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.DictionaryWithTerms[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/dictionaries");
    }

    /**
     * @param {CambApi.BodyCreateDictionaryFromFileDictionariesCreateFromFilePost} request
     * @param {DictionariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.dictionaries.createDictionaryFromFile({
     *         dictionary_file: fs.createReadStream("/path/to/your/file"),
     *         dictionary_name: "dictionary_name"
     *     })
     */
    public createDictionaryFromFile(
        request: CambApi.BodyCreateDictionaryFromFileDictionariesCreateFromFilePost,
        requestOptions?: DictionariesClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__createDictionaryFromFile(request, requestOptions));
    }

    private async __createDictionaryFromFile(
        request: CambApi.BodyCreateDictionaryFromFileDictionariesCreateFromFilePost,
        requestOptions?: DictionariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (request.run_id !== undefined) {
            _queryParams.run_id = request.run_id?.toString() ?? null;
        }

        const _request = await core.newFormData();
        await _request.appendFile("dictionary_file", request.dictionary_file);
        _request.append("dictionary_name", request.dictionary_name);
        if (request.dictionary_description != null) {
            _request.append("dictionary_description", request.dictionary_description);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                "dictionaries/create-from-file",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/dictionaries/create-from-file",
        );
    }

    /**
     * @param {CambApi.GetDictionaryInfoDictionariesDictionaryIdGetRequest} request
     * @param {DictionariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dictionaries.getDictionaryInfo({
     *         dictionary_id: 1
     *     })
     */
    public getDictionaryInfo(
        request: CambApi.GetDictionaryInfoDictionariesDictionaryIdGetRequest,
        requestOptions?: DictionariesClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.DictionaryWithTerms> {
        return core.HttpResponsePromise.fromPromise(this.__getDictionaryInfo(request, requestOptions));
    }

    private async __getDictionaryInfo(
        request: CambApi.GetDictionaryInfoDictionariesDictionaryIdGetRequest,
        requestOptions?: DictionariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.DictionaryWithTerms>> {
        const { dictionary_id: dictionaryId, run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `dictionaries/${core.url.encodePathParam(dictionaryId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.DictionaryWithTerms, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/dictionaries/{dictionary_id}");
    }

    /**
     * @param {CambApi.DeleteDictionaryDictionariesDictionaryIdDeleteRequest} request
     * @param {DictionariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dictionaries.deleteDictionary({
     *         dictionary_id: 1
     *     })
     */
    public deleteDictionary(
        request: CambApi.DeleteDictionaryDictionariesDictionaryIdDeleteRequest,
        requestOptions?: DictionariesClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDictionary(request, requestOptions));
    }

    private async __deleteDictionary(
        request: CambApi.DeleteDictionaryDictionariesDictionaryIdDeleteRequest,
        requestOptions?: DictionariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { dictionary_id: dictionaryId, run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `dictionaries/${core.url.encodePathParam(dictionaryId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/dictionaries/{dictionary_id}",
        );
    }

    /**
     * @param {CambApi.GetDictionaryDetailsDictionariesDictionaryIdFullDetailsGetRequest} request
     * @param {DictionariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dictionaries.getDictionaryDetails({
     *         dictionary_id: 1
     *     })
     */
    public getDictionaryDetails(
        request: CambApi.GetDictionaryDetailsDictionariesDictionaryIdFullDetailsGetRequest,
        requestOptions?: DictionariesClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.DictionaryWithTerms> {
        return core.HttpResponsePromise.fromPromise(this.__getDictionaryDetails(request, requestOptions));
    }

    private async __getDictionaryDetails(
        request: CambApi.GetDictionaryDetailsDictionariesDictionaryIdFullDetailsGetRequest,
        requestOptions?: DictionariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.DictionaryWithTerms>> {
        const { dictionary_id: dictionaryId, limit, search_term: searchTerm, run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (limit !== undefined) {
            _queryParams.limit = limit?.toString() ?? null;
        }

        if (searchTerm !== undefined) {
            _queryParams.search_term = searchTerm;
        }

        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `dictionaries/${core.url.encodePathParam(dictionaryId)}/full-details`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.DictionaryWithTerms, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/dictionaries/{dictionary_id}/full-details",
        );
    }

    /**
     * @param {CambApi.AddDictionaryTermPayload} request
     * @param {DictionariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dictionaries.addTermToDictionary({
     *         dictionary_id: 1,
     *         translations: [{
     *                 translation: "translation",
     *                 language: 1
     *             }]
     *     })
     */
    public addTermToDictionary(
        request: CambApi.AddDictionaryTermPayload,
        requestOptions?: DictionariesClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__addTermToDictionary(request, requestOptions));
    }

    private async __addTermToDictionary(
        request: CambApi.AddDictionaryTermPayload,
        requestOptions?: DictionariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { dictionary_id: dictionaryId, run_id: runId, ..._body } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `dictionaries/${core.url.encodePathParam(dictionaryId)}/add-term`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/dictionaries/{dictionary_id}/add-term",
        );
    }

    /**
     * @param {CambApi.UpdateTermTranslationsPayload} request
     * @param {DictionariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dictionaries.updateTermTranslationInDictionaryUsingTermId({
     *         dictionary_id: 1,
     *         term_id: 1,
     *         translations: [{
     *                 translation: "translation",
     *                 language: 1
     *             }]
     *     })
     */
    public updateTermTranslationInDictionaryUsingTermId(
        request: CambApi.UpdateTermTranslationsPayload,
        requestOptions?: DictionariesClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(
            this.__updateTermTranslationInDictionaryUsingTermId(request, requestOptions),
        );
    }

    private async __updateTermTranslationInDictionaryUsingTermId(
        request: CambApi.UpdateTermTranslationsPayload,
        requestOptions?: DictionariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { dictionary_id: dictionaryId, term_id: termId, run_id: runId, ..._body } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `dictionaries/term/${core.url.encodePathParam(dictionaryId)}/${core.url.encodePathParam(termId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/dictionaries/term/{dictionary_id}/{term_id}",
        );
    }

    /**
     * @param {CambApi.DeleteDictionaryTermDictionariesTermDictionaryIdTermIdDeleteRequest} request
     * @param {DictionariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dictionaries.deleteDictionaryTerm({
     *         dictionary_id: 1,
     *         term_id: 1
     *     })
     */
    public deleteDictionaryTerm(
        request: CambApi.DeleteDictionaryTermDictionariesTermDictionaryIdTermIdDeleteRequest,
        requestOptions?: DictionariesClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDictionaryTerm(request, requestOptions));
    }

    private async __deleteDictionaryTerm(
        request: CambApi.DeleteDictionaryTermDictionariesTermDictionaryIdTermIdDeleteRequest,
        requestOptions?: DictionariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { dictionary_id: dictionaryId, term_id: termId, run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CambApiEnvironment.Default,
                `dictionaries/term/${core.url.encodePathParam(dictionaryId)}/${core.url.encodePathParam(termId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/dictionaries/term/{dictionary_id}/{term_id}",
        );
    }
}
