// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CambApi from "../../../index.js";

export declare namespace DubClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions { }
}

export class DubClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DubClient.Options>;

    constructor(options: DubClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CambApi.EndToEndDubbingRequestPayload} request
     * @param {DubClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dub.endToEndDubbing({
     *         video_url: "video_url",
     *         source_language: 1
     *     })
     */
    public endToEndDubbing(
        request: CambApi.EndToEndDubbingRequestPayload,
        requestOptions?: DubClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.OrchestratorPipelineCallResult> {
        return core.HttpResponsePromise.fromPromise(this.__endToEndDubbing(request, requestOptions));
    }

    private async __endToEndDubbing(
        request: CambApi.EndToEndDubbingRequestPayload,
        requestOptions?: DubClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.OrchestratorPipelineCallResult>> {
        const { run_id: runId, ..._body } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.CambApiEnvironment.Default,
                "dub",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CambApi.OrchestratorPipelineCallResult,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/dub");
    }

    /**
     * @param {CambApi.GetEndToEndDubbingStatusDubTaskIdGetRequest} request
     * @param {DubClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dub.getEndToEndDubbingStatus({
     *         task_id: "task_id"
     *     })
     */
    public getEndToEndDubbingStatus(
        request: CambApi.GetEndToEndDubbingStatusDubTaskIdGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.OrchestratorPipelineResult> {
        return core.HttpResponsePromise.fromPromise(this.__getEndToEndDubbingStatus(request, requestOptions));
    }

    private async __getEndToEndDubbingStatus(
        request: CambApi.GetEndToEndDubbingStatusDubTaskIdGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.OrchestratorPipelineResult>> {
        const { task_id: taskId, run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.CambApiEnvironment.Default,
                `dub/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.OrchestratorPipelineResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/dub/{task_id}");
    }

    /**
     * NOTE: This endpoint should be called only by the users to get values for their runs via API.
     * Further we need to validate if the user has access to the run_id, otherwise we should not return the output urls.
     *
     * @param {CambApi.GetDubbedRunInfoDubResultRunIdGetRequest} request
     * @param {DubClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dub.getDubbedRunInfo({
     *         run_id: 1
     *     })
     */
    public getDubbedRunInfo(
        request: CambApi.GetDubbedRunInfoDubResultRunIdGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.GetDubbedRunInfoDubResultRunIdGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDubbedRunInfo(request, requestOptions));
    }

    private async __getDubbedRunInfo(
        request: CambApi.GetDubbedRunInfoDubResultRunIdGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.GetDubbedRunInfoDubResultRunIdGetResponse>> {
        const { run_id: runId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.CambApiEnvironment.Default,
                `dub-result/${core.url.encodePathParam(runId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CambApi.GetDubbedRunInfoDubResultRunIdGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/dub-result/{run_id}");
    }

    /**
     * @param {CambApi.GetDubbingRunsResultsDubbingResultsPostRequest} request
     * @param {DubClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dub.getDubbingRunsResults({
     *         body: {
     *             run_ids: [1]
     *         }
     *     })
     */
    public getDubbingRunsResults(
        request: CambApi.GetDubbingRunsResultsDubbingResultsPostRequest,
        requestOptions?: DubClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getDubbingRunsResults(request, requestOptions));
    }

    private async __getDubbingRunsResults(
        request: CambApi.GetDubbingRunsResultsDubbingResultsPostRequest,
        requestOptions?: DubClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { run_id: runId, traceparent, body: _body } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ traceparent: traceparent !== undefined ? traceparent : undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.CambApiEnvironment.Default,
                "dubbing-results",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Record<string, unknown>,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/dubbing-results");
    }

    /**
     * @param {CambApi.GetDubbedRunTranscriptTranscriptRunIdLanguageGetRequest} request
     * @param {DubClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dub.getDubbedRunTranscript({
     *         run_id: 1,
     *         language: 1
     *     })
     */
    public getDubbedRunTranscript(
        request: CambApi.GetDubbedRunTranscriptTranscriptRunIdLanguageGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, string>> {
        return core.HttpResponsePromise.fromPromise(this.__getDubbedRunTranscript(request, requestOptions));
    }

    private async __getDubbedRunTranscript(
        request: CambApi.GetDubbedRunTranscriptTranscriptRunIdLanguageGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, string>>> {
        const { run_id: runId, language, format_type: formatType, data_type: dataType } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (formatType != null) {
            _queryParams.format_type = formatType;
        }

        if (dataType != null) {
            _queryParams.data_type = dataType;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.CambApiEnvironment.Default,
                `transcript/${core.url.encodePathParam(runId)}/${core.url.encodePathParam(language)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, string>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/transcript/{run_id}/{language}",
        );
    }

    /**
     * @param {CambApi.DubbedOutputInAltFormatRequestPayload} request
     * @param {DubClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dub.getDubbedOutputInAltFormat({
     *         run_id: 1,
     *         language: 1,
     *         output_format: "flac"
     *     })
     */
    public getDubbedOutputInAltFormat(
        request: CambApi.DubbedOutputInAltFormatRequestPayload,
        requestOptions?: DubClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.GetDubbedOutputInAltFormatDubAltFormatRunIdLanguagePostResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDubbedOutputInAltFormat(request, requestOptions));
    }

    private async __getDubbedOutputInAltFormat(
        request: CambApi.DubbedOutputInAltFormatRequestPayload,
        requestOptions?: DubClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.GetDubbedOutputInAltFormatDubAltFormatRunIdLanguagePostResponse>> {
        const { run_id: runId, language, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.CambApiEnvironment.Default,
                `dub-alt-format/${core.url.encodePathParam(runId)}/${core.url.encodePathParam(language)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CambApi.GetDubbedOutputInAltFormatDubAltFormatRunIdLanguagePostResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/dub-alt-format/{run_id}/{language}",
        );
    }

    /**
     * @param {CambApi.GetDubbedOutputInAltFormatStatusDubAltFormatTaskIdGetRequest} request
     * @param {DubClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dub.getDubbedOutputInAltFormatStatus({
     *         task_id: "task_id"
     *     })
     */
    public getDubbedOutputInAltFormatStatus(
        request: CambApi.GetDubbedOutputInAltFormatStatusDubAltFormatTaskIdGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.OrchestratorPipelineResult> {
        return core.HttpResponsePromise.fromPromise(this.__getDubbedOutputInAltFormatStatus(request, requestOptions));
    }

    private async __getDubbedOutputInAltFormatStatus(
        request: CambApi.GetDubbedOutputInAltFormatStatusDubAltFormatTaskIdGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.OrchestratorPipelineResult>> {
        const { task_id: taskId, run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.CambApiEnvironment.Default,
                `dub-alt-format/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.OrchestratorPipelineResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/dub-alt-format/{task_id}");
    }

    /**
     * @param {CambApi.PollDiscordDubTaskDiscordDubTaskIdGetRequest} request
     * @param {DubClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dub.pollDiscordDubTask({
     *         task_id: "task_id"
     *     })
     */
    public pollDiscordDubTask(
        request: CambApi.PollDiscordDubTaskDiscordDubTaskIdGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.OrchestratorPipelineResult> {
        return core.HttpResponsePromise.fromPromise(this.__pollDiscordDubTask(request, requestOptions));
    }

    private async __pollDiscordDubTask(
        request: CambApi.PollDiscordDubTaskDiscordDubTaskIdGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.OrchestratorPipelineResult>> {
        const { task_id: taskId, run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.CambApiEnvironment.Default,
                `discord/dub/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.OrchestratorPipelineResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/discord/dub/{task_id}");
    }

    /**
     * @param {CambApi.PollTwitterDubTaskTwitterDubTaskIdGetRequest} request
     * @param {DubClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CambApi.UnprocessableEntityError}
     *
     * @example
     *     await client.dub.pollTwitterDubTask({
     *         task_id: "task_id"
     *     })
     */
    public pollTwitterDubTask(
        request: CambApi.PollTwitterDubTaskTwitterDubTaskIdGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): core.HttpResponsePromise<CambApi.OrchestratorPipelineResult> {
        return core.HttpResponsePromise.fromPromise(this.__pollTwitterDubTask(request, requestOptions));
    }

    private async __pollTwitterDubTask(
        request: CambApi.PollTwitterDubTaskTwitterDubTaskIdGetRequest,
        requestOptions?: DubClient.RequestOptions,
    ): Promise<core.WithRawResponse<CambApi.OrchestratorPipelineResult>> {
        const { task_id: taskId, run_id: runId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (runId !== undefined) {
            _queryParams.run_id = runId?.toString() ?? null;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.CambApiEnvironment.Default,
                `twitter/dub/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CambApi.OrchestratorPipelineResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CambApi.UnprocessableEntityError(
                        _response.error.body as CambApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CambApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/twitter/dub/{task_id}");
    }
}
